/* https://www.sitepoint.com/tracking-upload-progress-with-php-and-javascript/ */

#upload_bar_blank {
	border: solid 1px #000;
	height: 20px;
	width: 100%;
	transition: visibility 400ms;
}

#upload_bar_color {
	background-color: rgb(0,200,200);
	height: 20px;
	width: 0px;
	transition: width 600ms ease-out;
}

#upload_bar_blank {
	visibility: hidden;
}

#hidden_upload_iframe {
	display: none;
}
