/*
Layout styles for tonya ramsey's art website
feel free to reuse and modify with attribution
*/



.grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	padding: 1rem;
}

.tile{
	position: relative;
	margin: 1rem;
	padding: 5px;
	transition: transform 0.3s ease-in-out;
	counter-increment: item-counter;
	height: 15rem;
}
.tile:hover {
	transform: scale(1.05);
}

.tile:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.tile:hover:after {
	opacity: 0.3;
}


.tile-details{
	transition: .3s ease;
	color: white;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
}
.tile:hover .tile-details{
	opacity: 1;
}
.tile-details:before {
	content: counter(item-counter);
}


.tile-thumb{
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 720px){
	.tile-thumb{
		height: auto;
		width: 100%;
	}
	.tile{
		height: auto;
	}
}

.tile-sold-icon {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}



.tile-title{
	
}
.tile-media{
	
}
.tile-price{
	
}
.tile-sold{
	
}
